<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
</head>
<body>


    <%- include('partials/navigation.ejs') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center flex-column">
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate reiciendis facere corrupti itaque sit perspiciatis assumenda explicabo natus error magnam dicta corporis doloribus, ipsum, necessitatibus labore expedita quas quis perferendis minus ad consequatur! Ducimus impedit magnam laboriosam quisquam unde quaerat, pariatur, id quod, hic perspiciatis sit nostrum consequatur vero mollitia? Ab, ex a? Architecto voluptatum molestias quidem commodi beatae rerum odio ex, corporis, illo, aliquid ullam unde! Ratione ut expedita, fugiat dolor praesentium natus possimus repudiandae laboriosam saepe, pariatur mollitia inventore aliquid cupiditate alias ipsa perspiciatis veritatis. Amet provident dignissimos recusandae ratione accusamus aliquid sapiente delectus adipisci. Necessitatibus autem unde illum, saepe vero veritatis accusantium. Aut illo dignissimos quisquam reiciendis. Asperiores ex ad sequi atque libero ratione eligendi minus optio voluptatibus nulla, facere necessitatibus architecto! Totam vitae iusto reiciendis incidunt libero neque laborum officia, aliquid atque tenetur exercitationem quam perferendis dolore esse, temporibus cupiditate, dicta fugiat dolorem! Sapiente perferendis quibusdam ipsum quis! Officia animi tempore quaerat ex, quia libero exercitationem voluptatum! Maiores aliquam cupiditate error ut vero, sunt minus facilis? Magni suscipit earum repellat fugit ipsum a sed soluta nobis minima aspernatur, corrupti labore molestiae! Expedita, ipsa? Beatae hic quo ratione officia odio, minus rerum, aperiam neque, officiis cupiditate dolor.</p>
        
    </main>

    <%- include('partials/footer.ejs') %>
</body>
</html>